MODEL_PATH=models/yolox_nano.onnx

CONFIDENCE_THRESHOLD=0.30
NMS_THRESHOLD=0.45
MIN_BOX_AREA_RATIO=0.0025

TRACKER_FRAME_RATE=4
TRACKER_ACTIVATION_THRESHOLD=0.40
TRACKER_LOST_BUFFER=90
TRACKER_MATCHING_THRESHOLD=0.70
TRACKER_MIN_CONSECUTIVE_FRAMES=2

TRACK_VISIBLE_GRACE_SECONDS=2.0
TRACK_LOST_THRESHOLD_SECONDS=5.0
TRACK_RETENTION_SECONDS=5.0

CORS_ORIGINS=http://localhost:5173
